#buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    letter-spacing: 40px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.middle{
    display: flex;
}

.button{
    border: solid 2px black;
    padding: 0 -10px 0 10px;
    text-align: center;
}