#buttons { 
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: auto;
    letter-spacing: 40px;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

.buttons {
    border: solid 2px black;
    padding: 0 -10px 0 10px;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    box-shadow: 5px 3px;
}

.middle{
    display: flex;
}

#newGame{
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
}

.gameTime{
    display: flex;
    justify-content: center;
    background-color: rgb(106, 106, 106);
    border: 3px solid;
    color: black;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 400px;
    border-radius: 10px;
    box-shadow: 5px 3px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

li {
    display: flex;
    justify-content: center;
    text-align: center;
}

html { 
    background: url(images/background.jpg);
    background-size: fill;
  }

#word {
    display: flex;
    letter-spacing: 10px;
    font-size: 30px;
    background: white;
    margin: 0 400px 20px 0;
    border-radius: 15px;
}

.hidden {
    display: none;
}

canvas {
    border-radius: 15px;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 25px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}